body{
    // display: flex;
    // flex-direction: column;
    background-color: rgb(191, 188, 184);
    
    .calculator{
        top: 20%;
        left: 20%;
        position: fixed;
        background-color: black;
        border-radius: 10px;
        .display{
            height: auto;
            background-color: rgb(82, 82, 82);
            p{
                padding-right: 20px;
                text-align: end;
                font-size: 25px;
                font-weight: bold;
                text-decoration: rgb(255, 255, 255);
                color: white;
                min-height: 20px;
            }
            #screen{
                padding-top: 5px;
                // border-top-left-radius: 10px;
                // border-top-left-radius: 10px;
            }
            #answer{
                font-size: 30px;
            }
        }
        // p{
        //     background-color: aliceblue;
        // }
        .container{
            display: flex;
            flex-direction: column;
            padding: 0%;
        }
        #container-1{
            // background-color: azure;
            padding: 0%;
        }
        #container-2{
            padding: 0%;

        }
        #container-3{
            padding: 0%;
        }
        #container-4{

        }
        #container-5{

        }
    }
    
}