body{
    // display: flex;
    // flex-direction: column;
    background-color: rgb(191, 188, 184);
    
    .calculator{
        top: 50%;
        left: 50%;
        position: fixed;
        p{
            background-color: aliceblue;
        }
        .container{
            display: flex;
            flex-direction: column;
        }
        .container-1{
            background-color: azure;
        }
        .container-2{

        }
        .container-3{

        }
        .container-4{

        }
        .container-5{

        }
    }
    
}